<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div id="fullwrapper">
        <div class="herosection">
           <h1>Our Before MERN Web Development</h1>
        </div>
        <div class="card-section container">
            <div class="card-wrapper">
                <div class="card-header">
                    <h1>Card No 1</h1>
                </div>
                <div class="discription">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit maiores sed rem nihil, esse non natus quidem alias ut voluptatibus, id asperiores cum repudiandae hic quis dolores, soluta aut at.
                </div>
                <div class="card-image">
                    <img src="" alt="">
                </div>
                <div class="card-button">
                    <button>CLICK</button>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-header">
                    <h1>Card No 1</h1>
                </div>
                <div class="discription">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit maiores sed rem nihil, esse non natus quidem alias ut voluptatibus, id asperiores cum repudiandae hic quis dolores, soluta aut at.
                </div>
                <div class="card-image">
                    <img src="" alt="">
                </div>
                <div class="card-button">
                    <button>CLICK</button>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card-header">
                    <h1>Card No 1</h1>
                </div>
                <div class="discription">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit maiores sed rem nihil, esse non natus quidem alias ut voluptatibus, id asperiores cum repudiandae hic quis dolores, soluta aut at.
                </div>
                <div class="card-image">
                    <img src="" alt="">
                </div>
                <div class="card-button">
                    <button>CLICK</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>