<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
    {{>navbar}}

        <div class="register-section container">
        <div class="register-wrapper">
            <div class="outlinegradiant">
                <div class="innerform">
                    Employee Registration
                    <form action="/login" method="POST">
                        <input type="text" name="email" id="email" placeholder="email">
                        <input type="text" name="password" id="password" placeholder="password">
                        <button>submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>