<div id="Navbar">
    <div class="Navbar-wrapper">
        <div class="Navbar-Branding">
            WEBUI
        </div>
        <div class="Navbar-MenuItems">
            <ul class="Navbar-Menu">
                <li class="Navbar-Items"><a href="/">HOME</a></li>
                <li class="Navbar-Items"><a href="/secret">SECRET</a></li>
                <li class="Navbar-Items"><a href="/register">REGISTRATION</a></li>
                <li class="Navbar-Items"><a href="/login">LOGIN</a></li>
                <li class="Navbar-Items"><a href="/logout">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</div>